$color-light-green: #92ffc0;
$color-dark-blue: #002661;
$color-medium-blue: #004e61;
$color-primary: #272341;
$color-white: #fff;
$color-black: #000;
$color-grey-light: #eee;
$color-grey-dark: #777;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal: 6rem;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.23em) {
      //900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}

html {
  /* 100% is the default and it is 16 px but i want 10px so 10/16=0.625 */
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem; //16px
  line-height: 1.7;
  color: $color-primary;
}

.header {
  height: 100vh;
  background: $color-white;
  font-weight: 700;
  line-height: 1.3;
  font-size: 2.8rem; //28px
  align-items: center;
  background-position: top;
  position: relative;

}

.text-box {
  position: absolute;
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: start;
}

.myName {
  background-image: linear-gradient(
    43deg,
    $color-light-green,
    $color-dark-blue
  );
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
  display: inline-block;
}

.myName:hover {
  transform: skewY(2.5deg) scale(1.06);
  text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.3);
}

.heading-primary {
  margin-bottom: 1rem; //10px
}

.heading-primary-main {
  display: block;
  animation: moveInLeft 1s ease-out;
}

.heading-primary-sub {
  display: block;
  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8rem 1.6rem; //8px 16px
  display: inline-block;
  border-radius: 0.8rem; //8px
  transition: all 0.2s;

  @include respond(tab-port) {
    margin-top: 3.5rem;
  }
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba($color-black, 0.2);
}

.btn:active {
  transform: translateY(-1px);
}

.btn-white {
  font-size: 2rem; //20px
  background-color: $color-white;
  background-image: linear-gradient(
    43deg,
    $color-light-green,
    $color-dark-blue
  );
  -webkit-background-clip: text;
  color: transparent;
  border: solid $color-dark-blue;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s backwards;
}

.section-about-me {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-light-green, 0.8),
      rgba($color-dark-blue, 0.8)
    ),
    url(../img/icon-4.jpg);
  background-size: cover;
  padding: 8rem 0; //5rem
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);

  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  }

}

.heading-white {
  color: $color-white;
  text-transform: uppercase;
  font-size: 3.2rem; //2rem
  font-weight: 700;
  margin-bottom: 4.8rem; //3rem

  display: inline-block;
  letter-spacing: 2px;
  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.3);
  }
}

// .row {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
// }

// .col-1-of-2 {
//   flex-basis: 50%;
//   display: flex;
//   justify-content: center;
// }

.photo-container {
  width: 32rem; //20rem
  height: 32rem; //20rem
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.programmer__photo {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// .col-2-of-2 {
//   flex-basis: 50%;
// }

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.row {
  max-width: $grid-width;
  //   background-color: #eee;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
    }
  }

  @include respond(tab-port) {
    max-width: 50rem;
    // padding: 0 3rem;
  }

  @include clearfix;

  [class^="col-"] {
    // background-color: orangered;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
    }

  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }
}

.phone-center{
  @include respond(tab-port) {
    margin-left: 6rem;
  }
}

.paragraph {
  color: $color-white;
  font-size: 2rem; //20px
  line-height: 1.6;
  margin: 0;
  padding: 0 4.8rem; //3rem
  text-align: justify;
}

.highlight {
  font-weight: 700;
  background-color: #002661;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
  display: inline-block;
}

.highlight:hover {
  transform: skewY(2.5deg) scale(1.06);
  text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.3);
}

.CV-btn {
  margin-top: 2rem; //20px
  margin-left: 4rem; //40px
  margin-bottom: 1rem;
  &:link,
  &:visited {
    font-size: 2.6rem; //1.6rem
    color: $color-white;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-white;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}

.heading-secondary {
  // margin-top: 3rem;
  font-size: 5.6rem; //3.5rem
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-light-green,
    $color-dark-blue
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.3);
  }
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 3.2rem; //2rem
}

.u-margin-bottom-big {
  margin-bottom: 12.8rem; //8rem
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.row-2 {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
    }
  }

  @include respond(tab-port) {
    max-width: 50rem;
    padding: 0 3rem;
  }

  @include clearfix;

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
    }
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }
}

.section-projects {
  padding: 25rem 0 15rem 0; //15rem 0 15rem 0
  margin-top: -10rem; //-10rem
}

//Card
.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;

  &__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-light-green,
          $color-dark-blue
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-light-green,
          $color-dark-blue
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-light-green,
          $color-dark-blue
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-light-green,
          $color-dark-blue
        ),
        url(../img/icon-9.jpg);
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-light-green,
          $color-dark-blue
        ),
        url(../img/icon-6.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-light-green,
          $color-dark-blue
        ),
        url(../img/icon-8.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-light-green, 0.85),
        rgba($color-dark-blue, 0.85)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-light-green, 0.85),
        rgba($color-dark-blue, 0.85)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-light-green, 0.85),
        rgba($color-dark-blue, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light;
        }
      }
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  @include respond(tab-port) {
    height: auto;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details {
      padding: 1rem 3rem;
    }

    &__cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 4rem;
    }
  }

}

.card-btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba($color-black, 0.2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--git {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--git::after {
    background-color: $color-white;
  }

  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
}

.btn3 {
  font-weight: 700;
}

.contact-section {
  // padding: 35rem 0 15rem 0;
  // margin-top: -10rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-light-green, 0.8),
      rgba($color-dark-blue, 0.8)
    ),
    url(../img/icon-2.jpg);
  background-size: cover;
  padding: 12.8rem 0; //8rem
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0% 100%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.find-me {
  color: $color-white;
  font-weight: 400;
  font-size: 2.4rem; //1.5rem
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 3.2rem; //2rem
}

.icon1:hover {
  transform: scale(1.2);
}

.icon1 {
  width: 4rem; //2.5rem
  margin: 0 1.6rem; //1rem
  cursor: pointer;
}

.footer-section {
  color: $color-white;
  background-color: #333;
}

//navigation
.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    text-align: center;
    cursor: pointer;

    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }

    @include respond(phone) {
      top: 3rem;
      right: 3rem;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-light-green, $color-dark-blue);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    // transform: scale(80);

    @include respond(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }

    @include respond(phone) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
    transition: opacity, 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 230%;
      transition: all 0.4s;

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: #333;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
